<section class="wrapper">
<div class="container text-center py-4 py-md-6">
	<div class="lc-block card border-0 bg-dark text-center rounded p-4 p-lg-6" style="background:url('/images/cta-background.webp')  center / cover no-repeat;">
		<div class="row card-body mb-3 mb-lg-4">
			<div class="col-xl-11 col-xxl-9 mx-auto text-white">
				<div class="lc-block mb-4">
					<div editable="rich">
						<p class="lead">Open your business to the world's largest economy with Nile Global Trade</p>
					</div>
				</div>
				<div class="lc-block">
					<h3 editable="inline" class="fw-bold display-6">Companies across Africa and the Middle East <span class="lc-block position-relative">trust us <img class="position-absolute top-100 start-0 mt-n1" src="https://cdn.livecanvas.com/media/underline/white_underline5.svg"></span> with the task of growing their China trade.</h3>
				</div>
			</div>
		</div>
		<div class="lc-block"><a class="btn btn-primary btn-lg" href="#" role="button">Talk to us Now</a></div>
	</div>
</div>
</section>
