---
layout: default
bodyClass: "page-about"
---
<section class="mb-6">
	<div class="container-fluid">
		<div class="row min-vh-100">
			<div class="col-xl-6 order-xl-2 min-vh-50 d-flex align-items-center">
				<div class="lc-block card card-body border-0 py-5 p-xxl-5 ">
					<div class="lc-block">
						<div editable="rich">
							<h1 class="fw-bold display-4">About Us</h1>
						</div>
					</div>
					<div class="lc-block">
						<div editable="rich">
							<p class="lead"> Nile Global Trading was born in the Chinese coastal city of Ningbo, home to one of the world's largest shipping ports.</p>
              <p class="lead"> We are a team of African, Middle Eastern and Chinese business professionals with a common purpose of simplifying international trade for Middle Eastern and African businesses.</p>
              </div>
					</div>
				</div>
			</div>
			<div lc-helper="background" class="col-xl-6 order-xl-1 min-vh-50" style="background-size: cover; background-position: center; background-image: url('https://via.placeholder.com/1080x1080.png/f4f6fa/dce2ef');">
			</div>
		</div>
	</div>
</section>
<section class="mb-6 overflow-hidden">
	<div class="container-fluid g-0">
		<div class="row min-vh-100">
			<div class="col-xl-6 min-vh-50 d-flex align-items-center">
				<div class="lc-block card card-body border-0 py-5 p-xxl-5 ">
					<div class="lc-block">
						<div editable="rich">
							<p class="fw-bold display-4">Our Mission</p>
						</div>
					</div>
					<div class="lc-block">
						<div editable="rich">
							<p class="lead">We believe that countries across the One Belt One Road Initiative have a great potential to grow their business with China, yet currently the greatest beneficiaries are mostly Chinese companies. Our goal is to make trading with China more accessible and profitable for your business.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-6 min-vh-50 d-flex justify-content-center align-items-center" style="">
				<div class="lc-block">
					<img class="img-fluid" src="https://via.placeholder.com/1980x1080.png/f4f6fa/dce2ef" width="1980" height="1080">
				</div><!-- /lc-block -->
			</div>
		</div>
	</div>
</section>
<section class="py-6">
	<div class="container text-center py-5 mb-4 ">
		<div class="p-5 mb-4 lc-block">
			<div class="lc-block mb-4">
				<div editable="rich">
					<h1 class="display-1 fw-bold">To be the number one global supply chain company</h1>
				</div>
			</div>
			<div class="lc-block mb-5">
				<div editable="rich">
					<p class="lead">facilitating trade between China, Middle East and Africa.</p>

				</div>
			</div>

		</div>
	</div>
</section>
<section class="py-6">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="p-5 mb-2 lc-block text-center">
					<div class="lc-block mb-4">
						<div editable="rich">
							<p class="fw-bold display-4">Our Team</p>
						</div>
					</div>
					<div class="lc-block mb-5">
						<div editable="rich">
						</div>
					</div>
				</div>
			</div><!-- /col -->
		</div>
	</div>
	<div class="container">
		<div class="row row-cols-2 row-cols-lg-4">
      {% for member in site.data.team.members %}
			<div class="col text-center">
				<div class="lc-block mb-4">
          <!-- member img 512x512px -->
					<img class="img-fluid" src="{{ member.image | relative_url }}" lc-helper="image">
				</div><!-- /lc-block -->
				<div class="lc-block">
					<div editable="rich">

						<h3>{{ member.title }}</h3>
						<p class="text-muted">{{ member.jobtitle }}</p>

					</div>
				</div>
				<!-- /lc-block -->
			</div>
      {% endfor %}
		</div>
	</div>
</section>
{% include cta.html %}
