---
layout: default
bodyClass: "page-contactus"
---
<section>
  <div class="container-fluid px-0">
    <div class="row min-vh-lg-50 align-items-center g-0">
      <div class="col-lg-6 order-lg-1">
        <div class="lc-block">
          <div data-tf-widget="ty3Af6CL" data-tf-opacity="100" style="width:100%;height:100vh;">
          </div>
        </div><!-- /lc-block -->
      </div><!-- /col -->
      <div class=" col-lg-6 py-5 ">
        <div class=" lc-block col-xl-11 col-xxl-10 px-3 px-xl-5">
          <div editable="rich">

            <h1 class="display-4">Let us help your business start selling to China!
            </h1>

            <p class="text-secondary lead">Get in touch with us for a free assessment of your opportunities.</p>

          </div>
        </div><!-- /lc-block -->
      </div><!-- /col -->
    </div>
  </div>
</section>
<section>
  <div class="container-fluid px-0">
    <div class="row min-vh-lg-50 align-items-center g-0">
      <div class="col-lg-6">
        <div class="lc-block">
          <img class="img-fluid w-100 vh-50 vh-lg-75" src="../images/china-office.webp" srcset=""
            sizes="(max-width: 1080px) 100vw, 1080px" width="1080" height="" alt="Photo by Hermes Rivera" style="object-fit:cover
">
        </div><!-- /lc-block -->
      </div><!-- /col -->
      <div class="col-lg-6 py-5 px-3 px-xxl-5">
        <div class="row">
          <div class="col-xl-4 mb-4 mb-xl-0">
            <div class="lc-block border-start px-4">
              <div editable="rich">

                <h2 class="fw-light">China<br>HQ</h2>

                <p class="text-secondary"> 199 Taikang East Road Ningbo, 315100, China +86 176 1532 5020
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-4 mb-xl-0">
            <div class="lc-block border-start px-4">
              <div editable="rich">

                <h2 class="fw-light">China<br>HK Office</h2>

                <p class="text-secondary"> Rm.1002,10/F,Easey Commercial Building, 253-261 Hennessy Road, Wanchai, Hong
                  Kong
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-4 mb-xl-0">
            <div class="lc-block border-start px-4">
              <div editable="rich">

                <h2 class="fw-light">Dubai Office</h2>

                <p class="text-secondary"> ADDRESS PHONE EMAIL
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-4 mb-xl-0">
            <div class="lc-block border-start px-4">
              <div editable="rich">

                <h2 class="fw-light">Jordan Office</h2>

                <p class="text-secondary"> Mohammad Al Junaidi St. Building No.17 Amman, Jordan
                  +962 796956485
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-4 mb-4 mb-xl-0">
            <div class="lc-block border-start px-4">
              <div editable="rich">

                <h2 class="fw-light">Ethiopia Office</h2>

                <p class="text-secondary"> 4th Floor Meta Building Cameroon St, Addis Ababa, Ethiopia
                </p>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /col -->
    </div>
  </div>
</section>
