---
layout: default
bodyClass: "page-home"
---
  <div class="container-fluid overflow-hidden px-0 pb-6" style="height:auto">
    <div class="row g-0">
      <div class="col-6 order-md-2 d-none {% if page.intro_video_hide_on_mobile %}d-lg-block{% endif %}">
        <div class="card" lc-helper="video-bg">
          <video class="min-vh-100" autoplay="" preload="" muted="" loop="" playsinline="" style="object-fit: cover; object-position: 50% 50%;">
            <!-- adjust object-position to tweak cropping on mobile -->
            <source src="{{ page.intro_video }}" type="video/mp4">
          </video>
        </div>
      </div>
      <div class="col order-md-1 my-auto text-center" style="padding:10vw">

        <div class="lc-block mb-3">
          <div editable="rich">
            <h2> Sell to China with Ease </h2>
            <p class="lead"> Nile Global Trading empowers companies across the Belt and Road initiative to take advantage of naval and land routes, enabling them to sell products to China. </p>
          </div>
        </div>

        <div class="lc-block">
          <a class="btn btn-primary nile-navy" href="#" role="button">Get Started</a>
        </div><!-- /lc-block -->

      </div>
    </div>
  </div>
  {%- comment -%} Alternating {%- endcomment -%}

<section class="wrapper">
  <div class="container-fluid overflow-hidden px-5 py-5" style="height:auto">
      <div class="row mb-4 align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="lc-block text-center">
            <img class="img-fluid w-100" src="https://cdn.livecanvas.com/media/svg/undraw-sample/undraw_connected_world_wuay.svg" srcset="" sizes="" width="" height="">
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-lg-6 p-lg-6">
          <div class="lc-block mb-5">
            <div editable="rich">
              <h2 class="display-6 fw-bold">Simplify International Trade from Inquiry to Delivery</h2>
              <p class="lead"><br>Nile Global Trading is a full-chain international business service enabling companies across Africa and the Middle East to sell their products to China.</p>
            </div>
          </div><!-- /lc-block -->
          <!-- /lc-block -->
          <div class="lc-block">
            <div class="d-inline-flex">
              <div>
                <i class="bi bi-check-circle-fill nile-check"></i>
              </div>
              <div class="ms-3 align-self-center" editable="rich">
                <p>Find new customers in China</p>
              </div>
            </div>
          </div>
          <div class="lc-block">
            <div class="d-inline-flex">
              <div>
                <i class="bi bi-check-circle-fill nile-check"></i>
              </div>

              <div class="ms-3 align-self-center" editable="rich">
                <p>Secure payments</p>
              </div>
            </div>
          </div>
          <div class="lc-block">
            <div class="d-inline-flex">
              <div>
                <i class="bi bi-check-circle-fill nile-check"></i>
              </div>

              <div class="ms-3 align-self-center" editable="rich">
                <p>Ship products with ease</p>
              </div>
            </div>
          </div><!-- /lc-block -->
        </div><!-- /col -->
      </div>
      <div class="row mb-4 align-items-center">
        <div class="col-lg-6 mb-4 mb-lg-0 order-lg-1">
          <div class="lc-block text-center">
            <img class="img-fluid w-50" src="https://cdn.livecanvas.com/media/svg/isometric/Startup_SVG.svg" srcset="" sizes="" width="" height="">
          </div><!-- /lc-block -->
        </div><!-- /col -->
        <div class="col-lg-6 p-lg-6">
          <div class="lc-block mb-5">
            <div editable="rich">

              <h2 class="display-6 fw-bold">Don’t Be Left Out of China Trade</h2>

              <p class="lead"><br>
                {%- comment -%} China is one of the largest export markets in the world for minerals, agricultural products, and raw materials. The Belt and Road Initiative creates advanced maritime and land logistics networks, enabling companies to reach out to large institutional buyers across China. {%- endcomment -%}

                For all its advantages, trading with China comes with many challenges. Nile Global Trading saves you time and money and helps you avoid the pitfalls many companies face when trading with new Chinese buyers.</p>
            </div>
          </div><!-- /lc-block -->
          <!-- /lc-block -->
            </div>
          </div><!-- /lc-block -->
      </div>
    </div>
  </div>
</section>
{%- comment -%} FAQ {%- endcomment -%}
<!-- <div class="container-fluid overflow-hidden px-0 pb-6 bg-dark text-white" style="height:auto">
  <div class="row g-0 align-items-center">
    <div class="col-md-6">
      <div class="lc-block text-center mb-4">
        <div editable="rich">
          <h2 class="fw-bold">Common Problems with trading with China </h2>
        </div>
      </div>
      <div class="lc-block text-center">
        <div editable="rich">
          If you tried doing business with China before, but faced problems, we are here to help!
        </div>
      </div>
    </div>
    <div class="col-md-6 p-5 d-flex flex-column justify-content-center">
      <div class="accordion accordion-flush" id="accordionFlushMyFAQ1">
        <div class="lc-block accordion-item mb-5 bg-dark text-white">

          <a editable="inline" class="fw-bold text-decoration-none text-white h4 collapsed" href="#"
            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
            aria-controls="flush-collapseOne">
            You don't speak Chinese
          </a>

          <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushMyFAQ1">
            <div class="accordion-body" editable="rich">Our team speaks Chinese, as well as:
              <ul class="text-decoration-none">
                <li>🇺🇸English</li>
                <li>🇫🇷French</li>
                <li>🇸🇦Arabic</li>
                <li>🇪🇹Amharic</li>
                <li>🇹🇷Turkish</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="lc-block accordion-item mb-5 bg-dark text-white">

          <a editable="inline" class="fw-bold text-decoration-none text-white h4" href="#" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            You can't agree with your customer about product and delivery requirements
          </a>

          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushMyFAQ1">
            <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's
              imagine this being filled with some actual content.</div>
          </div>
        </div>
        <div class="lc-block accordion-item mb-5 bg-dark text-white">

          <a editable="inline" class="fw-bold text-decoration-none text-white h4" href="#" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            You can't be sure about payments, or it's too risky
          </a>

          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushMyFAQ1">
            <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more
              exciting happening here in terms of content, but just filling up the space to make it look, at least at
              first glance, a bit more representative of how this would look in a real-world application.</div>
          </div>
        </div>
        <div class="lc-block accordion-item mb-5 bg-dark text-white">
          <a editable="inline" class="fw-bold text-decoration-none text-white h4" href="#" data-bs-toggle="collapse"
            data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Inland delivery to the port is too troublesome</a>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushMyFAQ1">
            <div class="accordion-body" editable="rich">Placeholder content for this accordion, which is intended to
              demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
</div> -->



<!-- Feature cards -->

<section class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col text-center mb-5">
        <h2 class="display-6 fw-bold">What Can Nile Do For You?</h2>
        <p class="lead">See how our services can help you easily sell products to China</p>
      </div>
    </div>
    <div class="row">
      {% for service in site.services %}
      <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
        <div class="card text-white card-has-bg click-col img-fluid"
          style="background-image:url('{{ service.image }}');">
          <div class="card-img-overlay d-flex flex-column">
            <div class="card-body">
              <small class="card-meta mb-2">Services</small>
              <h3 class="card-title mt-0 "><a class="text-white" herf="#">{{ service.title }}</a></h4>
              <p class="card-text">{{ service.description }}</p>
              <a class="card-link stretched-link" href="{{ service.url | relative_url }}"></a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- Portfolio -->
<section id="portfolio" class="portfolio wrapper">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <div class="col text-center mb-5">
      <h2 class="display-6 fw-bold">Products We Work With</h2>
      <p class="lead">We have delivered customers all across Africa and the Middle East to China with these products and more</p>
    </div>
    </div>

    <ul id="portfolio-flters" class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
      <li data-filter="*" class="filter-active">All</li>
      {% assign categories =  site.products | map: 'categories' | join: ','  | split: ',' | uniq %}
      {% for category in categories %}
      <li data-filter=".filter-{{ category | downcase | replace: ' ', '' }}">{{ category }}</li>
      {% endfor %}
    </ul>

    <div class="row portfolio-container" data-aos="" data-aos-delay="200">
      {% for product in site.products %}
      {% assign product_cat =  product.categories | join: ',' | downcase | replace: ' ', '' %}
      <div class="col-lg-4 col-md-6 portfolio-item filter-{{ product_cat }}">
        <div class="portfolio-img"><img src="{{ product.image }}" class="img-fluid" alt=""></div>
        <div class="portfolio-info">
          <h4>{{ product.title }}</h4>
        </div>
        <!-- Page link TO DO -->
      <!-- <a href="{{ product.url | product_url }}" class="stretched-link"></a> -->
      </div>
    {% endfor %}
    </div>

  </div>
</section>
<!-- End Portfolio Section -->
