---
layout: default
bodyClass: "page-service"
---
<section>
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ page.image | relative_url}}" class="d-block mx-lg-auto img-fluid rounded-3"
          alt="Photo by Daniele Levis Pelusi" loading="lazy" width="1080" height="768">
      </div>
      <div class="col-lg-6">
        <div class="lc-block mb-3">
          <div>
            <h2 class="fw-bold text-primary rfs-10">Our Services</h2>
          </div>
        </div>
        <div class="lc-block mb-3">
          <div>
            <h1 class="fw-bold display-5">{{ page.title }}</h1>
          </div>
        </div>
        <div class="lc-block mb-5">
          <div>
            <p class="lead">{{ page.description }}</p>
          </div>
        </div>
        <div class="lc-block d-grid gap-2 d-md-flex justify-content-md-start">
          <a class="btn btn-primary px-4 me-md-2 btn-lg" href="#" role="button">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="bg-light">
  <div class="container py-md-6 py-4">
    <div class="row justify-content-center mb-4">
      <div class="col-xl-10">
        <div class="lc-block  mb-4">
          <div>
            <h2 class="text-center fw-bold display-5">Get Started with your China Trade</h2>
          </div>
        </div>
      </div>
      <div class="col-xxl-7 col-lg-9">
        <div class="lc-block text-center">
          <div>
            <p class="rfs-8"> See how our service can help you increase your sales and open your business to China
              success.</p>
          </div>
        </div><!-- /lc-block -->
      </div><!-- /col -->
    </div>
    <div class="row justify-content-center">
      {% for feature in page.features %}
      <div class="col-sm-9 col-md-6 mb-4 col-lg-3">
        <div class="lc-block card shadow">
          <div class="card-body p-4">
            <div class="lc-block mb-3">
            </div><!-- /lc-block -->
            <div class="lc-block mb-4">
              <div>
                <h1 class="fw-bold h3 text-primary"><i class="{{ feature.symbol }} m-1"></i><br>{{ feature.name }}</h1>
              </div>
            </div><!-- /lc-block -->
            {% for bullet in feature.bullets %}
            <div class="lc-block">
              <div class="d-inline-flex">
                <div class="ms-3 align-self-center">
                  <p>{{ bullet }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div><!-- /col -->
      {% endfor %}
    </div>
  </div>
</section>
  <section class="wrapper">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-4 align-self-center">
        <div class="lc-block border-top py-4" style="letter-spacing:10px">
          <div editable="rich">
            <h2><strong>{{page.content[header]}}</strong></h2>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="lc-block">
          <div editable="rich">

            <p><strong></strong></p>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>
